@import url(https://fonts.googleapis.com/css?family=Oxygen:400,300,700);

#header1-2 H1 {
  font-family: 'Oxygen', sans-serif;
}

#header1-f H1 {
  font-family: 'Oxygen', sans-serif;
}

#header1-a H1 {
  font-family: 'Oxygen', sans-serif;
}
